
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #000000;
  color: white;
  letter-spacing: 2px;

}

/* Text under font */
p {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.1;
  opacity: .6;
}


.timeline {
    max-width: 10px;
    margin: 0 50%;
    padding: 0px;

    background-image: url('moon_bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 100%; 
    background-size: 68% auto;
}

/* Right side of timeline */
.timeline .timeline-body {
  position: relative;
  /* background-color: #242126; */
  margin-left: 0px;
  border-radius: 0 8px 8px 0;
  padding: 5px 0;
}

h4{
  font-size: 17px;
}

/* Line */
.timeline .timeline-body:after {
  content: '';
  width: 4px;
  height: 100%;
  background-color: #ffffff;
  position: absolute;
  left: -4px;
  top: 0;
}

/* Items */
.timeline .timeline-body .timeline-item {
  position: relative;
  width: 300px;
  min-width: 180px;
}

.timeline .timeline-body .timeline-blank {
  position: relative;
  width: 300px;
  height: 100px;
  min-width: 180px;
}

.timeline .timeline-body .timeline-blankSmall {
  position: relative;
  width: 300px;
  height: 10px;
  min-width: 180px;
}

/* Start: Added Hover Embedding */
span[data-descr] {
  font-family: sans-serif;
  position: relative;
  text-decoration: none;
  color: white;
  letter-spacing: 2px;
  cursor: crosshair;
}

span[data-descr]:hover {
  font-family: sans-serif;
  position: relative;
  text-decoration: none;
  color: #fdfd96;
  letter-spacing: 2px;
  cursor: crosshair;
}

span[data-descr]:hover::after,
span[data-descr]:focus::after {
    transition-delay: 0.5s;
  content: attr(data-descr);
  position: absolute;
  top: 24px;
  left: 0;
  min-width: 200px;
  max-width: 250px;
  border: 1px #ffffff solid;
  border-radius: 10px;
  background-color: #9ebbc6;
  padding: 12px;
  color: #000000;
  font-size: 14px;
  z-index: 1;
  transition: 0.3s;/*not working as intended*/
}
/* End: Added Hover Embedding */


/* For Future: Cicle Hover Embedding */

/* Circle Accents */
.timeline .timeline-body .timeline-item:after {
  content: '';
  transition: 0.3s; /*not working as intended*/
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 4px solid #ffffff;
  background-color: #ffffff;
  position: absolute;
  left: -12px;
  top: 0px;
  z-index: 9;
}

.timeline .timeline-body .timeline-item .year {
  position: absolute;
  left: -85px;
  top: 4px;
  opacity: .5;
  font-size: 13px;
}

.timeline .timeline-body .timeline-item .content {
  margin: 5px 17px 5px 17px;
  padding-bottom: 20px;
  /* border-bottom: 1px dashed #555; */
}

.timeline .timeline-body .timeline-item .content .title {
  font-weight: 500;
  margin-bottom: 4px;
}

.bottomMoon img {
    width: 65%;
    height: auto;

    display: block;
    margin-left: auto;
    margin-right: auto;
    /*  background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 100%; 
    background-size: 68% auto;*/
}
